- id: telegram_open_gate
  alias: Open Gate via Telegram Message
  trigger:
  - platform: event
    event_type: telegram_command
    event_data:
      command: /open
  action:
  - service: telegram_bot.send_message
    data:
      message: Opening the gate
  - service: switch.turn_on
    data:
      entity_id: switch.open_gate
  mode: single
