upstream homeassistant {
	server 127.0.0.1:8123;
	keepalive 64;
}

server {
  listen 80 default_server;
  server_name _;
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;

	server_name {{ nginx_domain }};

  ssl_certificate     /opt/acme.sh/{{ nginx_domain }}_ecc/fullchain.cer;
  ssl_certificate_key /opt/acme.sh/{{ nginx_domain }}_ecc/{{ nginx_domain }}.key;

  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384;

	location / {
		proxy_pass http://homeassistant;
		proxy_http_version 1.1;
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "Upgrade";
	}

	location /api/websocket {
		proxy_pass http://homeassistant/api/websocket;
		proxy_set_header Host $host;
		proxy_http_version 1.1;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
	}
}
